{
    "database": "chat.db",
    "email_verification": false,
    "admin_access_password": "",
    "verification_sender": {
        "resend_api_key": "",
        "sender_email": "user@example.com",
        "recipient_domain": "*"
    },
    "secret_key": "secret-key-here",
    "site_name": "Chat App"
}